.selectMc{
    justify-content: space-around;
    display: flex;
    text-align: center;

    background-color: rgb(159, 205, 245);
    padding: 20px 10px 100px 50px;
    border: 2px solid rgb(91, 95, 41);
    margin: 1rem 40rem 0 3rem;
}
.TR1,.TR2,.TMC{
    margin-top: 60px;
    justify-content: space-around;
    text-align: center;
    display: flex;
}
.CF{
    margin-top: 60px;
    justify-content: center;
    display: flex;
}