.selectMc{
    justify-content: space-around;
    display: flex;
    text-align: center;

    background-color: rgb(159, 205, 245);
    padding: 20px 10px 110px 50px;
    border: 2px solid rgb(91, 95, 41);
    margin: 1rem 26rem 0 25rem;
}
.TR1,.TR2,.TMC{
    margin-top: 60px;
    justify-content: space-around;
    text-align: center;
    display: flex;
}
.CF{
    margin-top: 60px;
    justify-content: center;
    display: flex;
    margin-bottom: 60px;
}
#BR2,#BR1{
    margin-top: 30px;
    width: 100%;
    height: 30px;
}
* {
    font-family: "Mystery Quest", cursive;
}
.header{
    box-sizing: border-box;
    background-image: url(../img/fmsbanner.jpg);
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
#ganadorR2,#ganadorR1,#ganadorF{
    padding-left: 10px;
    padding-right: 10px;
}